@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-dark">Categories</h3>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">Create Category</button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive" id="table">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center"># </th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>         
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categoryModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="categoryform">
                <div class="modal-body">
                    <input type="hidden" id="id" />
                    <div class="mb-3">
                        <input type="text" class="form-control" id="cName" placeholder="Enter Category Name" required />
                    </div>
                    <div class="mb-3">
                        <textarea type="text" class="form-control" id="cDescription" placeholder="Category Description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="savebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        var categoryModal = $('#categoryModal');
        var name = $('#cName');
        var description = $('#cDescription');
        var savebtn = $('#savebtn');
        var categoryform = $('#categoryform');

        function getAllCategory() {
            $.ajax({
                url: '/Category/GetAllCategory',
                type: 'get',
                success: function (data) {
                    let tbody = '';
                    $.each(data, function (key, val) {
                        tbody += `<tr>
                                    <td>${key + 1}</td>
                                    <td>${val.name}</td>
                                    <td>${val.description}</td>

                                    <td class="d-flex justify-content-center">
                                        <a class="btn btn-primary btn-sm edit" data-id="${val.id}">Edit</a>
                                        <a class="btn btn-danger btn-sm delete" data-id="${val.id}">Delete</a>
                                    </td>
                                  </tr>`;
                    });
                    $('#table tbody').empty();
                    $('#table tbody').append(tbody);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching categories:', error);
                }
            });
        }
        $(document).on('click', '.edit', function (el) {
            let id = $(this).data('id');
            $.ajax({
                url: '/Category/GetCategoryById?id=' + id,
                type:'get',
                success: function(data){
                    $('#savebtn').text('Update');
                    $('#id').val(data.id);
                    $('#cName').val(data.name);
                    $('#cDescription').val(data.description);
                    $('#categoryModal').modal('show');
                }
            })
        })

        $('#savebtn').click(function (el) {
            el.preventDefault();

            var data = {
                name: $('#cName').val(),
                description: $('#cDescription').val()
            };
            var url = '/Category/Create';
            if ($(this).text().toLowerCase() == 'update'){
                data.id = $('#id').val();

                url = '/Category/Update';
            }
            $.ajax({
                url: url,
                type: 'post',
                data: data,
                success: function () {
                    getAllCategory()
                    $('#categoryModal').modal('hide');
                    $('#categoryform').trigger('reset');
                    $('#savebtn').text('Save');
                },
                error: function () {
                   
                }
            });
        });

        $(document).on('click', '.delete', function (el) {
            
        });

        $(document).ready(function () {
            getAllCategory();
        });

    </script>
}
   