@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4 class="text-dark">Suppliers</h4>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">Create Supplier</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Logo</th>
                                <th class="text-center">Action</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="productModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create supplier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frm" style="width: 300px;">
                    <input type="hidden" id="editId" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter supplier name">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter supplier address" />
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter phone number" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="number" class="form-control" id="email" placeholder="Enter email address ">
                    </div>
                    <div class="mb-3">
                        <label for="logoPath" class="form-label">Uplood logo : </label>
                        <input type="file" class="from-controle" id="logoPath" placeholder="Uplood supplier logo" accept="image/*" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savebtn">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function getAllSupplier() {
            $.ajax({
                url: '/Supplier/GetAllSupplier',
                type: 'get',
                success: function (data) {
                    let tbody = '';
                    $.each(data, function (key, val) {
                        tbody += `<tr>
                                                <td>${key + 1}</td>
                                                <td>${val.name}</td>
                                                <td>${val.Address}</td>
                                                <td>${val.phone}</td>
                                                <td>${val.email}</td>
                                                <td>${val.logo}</td>
                                                <td class="d-flex justify-content-center">
                                                    <a class="btn btn-primary btn-sm edit" data-id="${val.id}">Edit</a>
                                                    <a class="btn btn-danger btn-sm delete" data-id="${val.id}">Delete</a>
                                                </td>
                                            </tr>`;
                    });
                    $('#table tbody').empty();
                    $('#table tbody').append(tbody);
                },
                error: function (e) {
                    console.log('Error in the code');
                },
            });
        }

        $(document).on('click', '.edit', function (el) {
            el.preventDefault();
            let id = $(this).data('editId');
            $.ajax({
                url: '/Supplier/GetSupplierById?id=' + id,
                type: 'get',
                success: function (data) {
                    $('#savebtn').text('Updata');
                    $('#editId').val(data.id);
                    $('#name').val(data.name);
                    $('#address').val(data.Address);
                    $('#email').val(data.email);
                    $('#logo').val(data.logo);
                    $('#productModal').modal('show');
                   
                }
            })

        });

        $('#savebtn').click(function (el) {
            el.preventDefault();

            $.ajax({
                url: '/Supplier/CreateAndUpdate',
                type: 'post',
                data: {
                    name: $('#name').val(),
                    Address: $('#address').val(),
                    phone: $('#phone').val(),
                    email: $('#email').val(),
                    logo: $('#logoPath').val()
                },
                success: function () {
                    getAllCategory();
                    $('#productModal').modal('hide');
                    $('#productModal').trigger('reset');
                    $('#savebtn').text('Save');
                }
            });
        });

        $(document).ready(function () {
            getAllSupplier();
        });
    </script>
}